<div class="main top-main" style="padding-top: 100px;">
  <div class="top-text">
    <p style="font-size: 21px; margin-bottom: 3%; color: #264962;">カフェでのひとときを共有する</p>
  </div>
  <div class="top-logo">
    <img src="assets/top_logo.png">
  </div>
</div>