<div class="main posts-index">
  <div class="flex-container">
    <% @posts.each do |post| %>
      <div class="posts-index-item" style="margin: 2%;">

        <div class="post-img">
          <%= link_to image_tag("/post_images/#{post.post_img}"), "/posts/#{post.id}" %>
        </div>
        <div class="post-bottom">
          <div class="post-left">
            <%= link_to image_tag("/user_images/#{post.user.image_name}"), "/users/#{post.user.id}" %>
          </div>

          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            </div>
            『<%= link_to(post.cafe, "/posts/#{post.id}") %>』
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>